<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.FinalProjectCS5520"
    android:enableOnBackInvokedCallback="true"
    tools:targetApi="31">

    <activity
        android:name=".CameraActivity"
        android:exported="false" />
    <activity
        android:name=".HistoryActivity"
        android:exported="false" />

    <activity
        android:name=".userPersonalInfoActivities.EditUserPersonalInfo"
        android:label="Profile"
        android:exported="false">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>
    <activity
        android:name=".userPersonalInfoActivities.UserPersonalInfo"
        android:label="Profile"
        android:exported="false">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>
    <activity
        android:name=".Achievement"
        android:label="Achievement"
        android:exported="false" />
    <activity
        android:name=".UserDisplay"
        android:label="User Display"
        android:exported="false" />
    <activity
        android:name=".sharePublicActivity.SharePublic"
        android:label="Share"
        android:exported="false">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>
    <activity
        android:name=".RecordWeight"
        android:label="Record Weight"
        android:exported="false">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>
    <activity
        android:name=".MainActivity"
        android:label="WeightMe"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>
    <activity
        android:name=".authenticationActivities.Register"
        android:label="Register"
        android:exported="false">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>
    <activity
        android:name=".authenticationActivities.Login"
        android:label="Log In"
        android:exported="false">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>
    <activity
        android:name=".UserMainActivity"
        android:label="Home"
        android:exported="false">
        <meta-data
            android:name="android.app.lib_name"
            android:value="" />
    </activity>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="edu.northeastern.finalprojectcs5520.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>
</application>

</manifest>